<h2>Congratulations! Your order has been placed.</h2>
<p>Your order number is #<%= @order.id %></p>
<% if @order.payment %>
  <%= link_to "View Receipt", @order.payment.receipt_url %>
<% else %>
  <p>There is a delayed to receive your payment receipt, please check it later at "My orders" link</p>
<% end %>
