// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero-image {
    max-width: 90%;
    max-height: 90%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.08rem solid grey;
    margin-top: 2rem;
    padding: 2rem;
    .footer-links {
        padding: 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-image {
    width: 25px;
    height: 25px;
}



