<section class="footer">
  <nav class="footer-nav">
    <div class="footer-links">
      <a class="nav-link disabled" href="#">Home</a>
    </div>
    <div class="footer-links">
      <a class="nav-link disabled" href="#">About us</a>
    </div>
    <div class="footer-links">
      <a class="nav-link disabled" href="#">Contact</a>
    </div>
    <div class="footer-links">
      <a class="nav-link disabled" href="#">Privacy</a>
    </div>
    <div class="footer-links">
      <a class="nav-link disabled" href="#">Terms of service</a>
    </div>
  </nav>
  <p>
    &copy; KBS2022
  </p>
</section>
