<section class="footer">
  <nav class="footer-nav">
    <div class="footer-links">
      <a href="#">Home</a>
    </div>
    <div class="footer-links">
      <a href="#">About us</a>
    </div>
    <div class="footer-links">
      <a href="#">Contact</a>
    </div>
    <div class="footer-links">
      <a href="#">Privacy</a>
    </div>
    <div class="footer-links">
      <a href="#">Term of services</a>
    </div>
  </nav>
  <p>
    @copyright KBS2022
  </p>
</section>
