<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">2ndGame</a> %>
    <%=link_to "2ndGame", root_path, class: "navbar-brand"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%=link_to "Home", root_path, class: "nav-link"%>

      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by Category
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Classic</a></li>
            <li><a class="dropdown-item" href="#">Family</a></li>
            <li><a class="dropdown-item" href="#">Strategy</a></li>
            <li><a class="dropdown-item" href="#">Fantasy</a></li>
            <li><a class="dropdown-item" href="#">Puzzles</a></li>
            <li><a class="dropdown-item" href="#">Others</a></li>



          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Top seller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Community</a>
      </li>
    </ul>
   
  </div>

    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item active">
           
            <%if user_signed_in?%>
                
                <li class="nav-item">
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"%>
                </li>
            <%else%>
                <li class="nav-item">
                    <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
                </li>
            <%end%>

            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Users
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">My listings</a></li>
                    <li><a class="dropdown-item" href="#">My orders</a></li>
                    <li><a class="dropdown-item" href="#">My favourites</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Account Settings</a></li>

                  </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Favourite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
            </li>
           
        </ul>
    </div>
</nav>



