<h2>Order history</h2>
<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order number</th>
        <th scope="col">Order status</th>
        <th scope="col">Total</th>
        <th scope="col">Updated at</th>

      </tr>
    </thead>
    
    <tbody>
        <tr>
        <%@orders.each do |order|%>

        <td><%= order.id %></td>
        <td><%= format_text(order.order_status)%></td>
        <td><%= order.total%></td>
        <td><%= order.updated_at%></td>

        <%end%>
        </tr>
    </tbody>

  </table>
</section>